*{margin:0;padding:0;}

.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
    padding: 0 0 0 5px;	
	margin: 0 auto;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  100%;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 220px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 20px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    display: inline-block !important;	
    width: 32px;
    height: 32px;
	margin-left: 15px;
    cursor: pointer;
	background: url("../img/slider_arrow.png") no-repeat 0px -44px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
	background-position: -47px -44px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
	display: inline-block !important;
	width: 32px;
    height: 32px;
	margin-right: 15px;
    cursor: pointer;
    background: url("../img/slider_arrow.png") no-repeat 0px 0px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -47px 0px;
}

.jcarousel-pagination {
	margin: 30px 18px 0 0;
	text-align: center;
}

.jcarousel-control {	
	display: inline-block;
	line-height: 39px;
}

.jcarousel-control a {	
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 2px;
	border-radius:50%;
	background: #303030;
	font-size: 0px;
}

a.m-jcarousel_control_item-active {
	background: #fff;
}