.n-exercise_block__1 {
	margin: 0px 0px 0px 0px;
	padding-top: 115px;
}
.n-exercise_block__2 {
	padding-top: 60px;
	min-height: 370px;
}
.n-exercise_block__3 {
	padding-top: 60px;
}
.n-exercise_block__4 {
	padding-top: 30px;
	min-height: 400px;
}

.m-white:after{ background: transparent url(../img/white-after.png) 0 0 repeat-x; height: 6px; top: -5px; bottom: auto; z-index: 10; }
.m-light_blue {
	background: #EFF6FA;
}
.m-light_blue:before{ background: transparent url(../img/light_blue.png) 0 0 repeat-x; height: 8px; margin: -61px 0 40px 0; z-index: 10; }

.float_left_block {
	float:left;
}
.float_right_block {
	float:right;
}
.clear_both:after {
	content: "";
	display: block;
	clear: both;
}
.hidden {
	display: none;
}
.big_video {
	margin: 10px 0;
}
.blue_link {
	font-size: 14px;
	color: #00A1C6 !important;
	border-bottom: 1px solid #00A1C6;
}

.blue_link:hover {
	border-bottom: none;
}
.go_back_link {
	font-size: 16px;
	position: absolute;
	top: 88px;
	left: 120px;
}
.go_back_link:before {
	content: '';
	display: block;
	float: left;
	margin-right: 10px;
	width: 12px;
	height: 21px;
	background: url("../img/icon_back.png") no-repeat;
}

.b-exersise_block_title {
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 70px;
}
.m-exersise_block_title-2 {
	font-size: 36px;
	margin-bottom: 55px;
}
.m-exersise_block_title-3 {
	font-size: 30px;
	margin-bottom: 40px;
}
.b-section_video__level_title {
	display: inline-block;
	float: left;
	font-size: 14px;
}
.b-section_video__level {
	display: inline-block;
	width: 42px;
	height: 16px;
	margin: 0px 0 1px 10px;
}
.m-section_video__level-2{
	background: url("../img/complexity_level_2.png") no-repeat;
}

.b-section_addition_links {
	display: table;
	width: 100%;
	margin-bottom: 30px;
}
.b-teacher_block {
	width: 35%;
}
.b-teacher_block__avatar {
	display: block;
	float: left;
	margin-right: 20px;
}
.b-teacher_block__title,
.b-teacher_block__name {
	display: block;
}
.b-teacher_block__title {
	font-size: 14px;
}
.b-teacher_block__name {
	font-size: 18px;
	font-weight: bold;
}
.b-teacher_block__lessons_amount {
	display: inline-block;
	width: 30px;
	margin-left: 7px;
	padding: 2px 0 0 2px;
	border-radius: 2px;
	font-size: 12px;
	background: #00A1C6;
}
.b-usefull_links {
	width: 25%;
}
.b-usefull_links:first-of-type {			
	margin-top: -3px;
}
.b-usefull_links__link {
	color: #fff;
	font-size: 16px;
}
.b-usefull_links__eng_title {
	display: block;
	margin-top: -3px;
	font-size: 12px;
	color: #00A1C6;
}
.b-icon_link_blocks {
	width: 40%;
}
.b-icon_link_block {
	height: 50px;		
	width: 50%;
	margin-bottom: 15px;
}
.b-icon_link_block:last-of-type{
	margin-bottom: 0;
}
.b-icon_link_block__icon {
	display: block;
	float: left;
	width: 49px;
	height: 49px;
}
.b-icon_link_block__link {
	display: inline-block;
	margin: 10px 0 0 10px;				
}
			
.b-decorative_gorizontal_divider {
	position: relative;
	height: 30px;
	margin-top: 10px;
	border: 2px solid #DCDCDC;
	border-top: none;
	border-radius: 0 0 10px 10px;
}
.b-decorative_gorizontal_divider__btn {
	position: absolute;
	left: 49%;
	top: 16px;
	width: 32px;
	height: 32px;
	background: url("../img/icon_divider_btn.png");
	background-position: 0 0;
}
.b-decorative_gorizontal_divider__btn:hover {
	background-position: -45px 0;
}
.m-decorative_gorizontal_divider__btn-open {
	background-position: 0 32px;
}
.m-decorative_gorizontal_divider__btn-open:hover {
	background-position: -45px 32px;
}

.b-exercises__btn_wrapper {			
	width: 375px;
	margin: 0 auto;
}
.b-exercises__start_btn {
	display: block;
	height: 70px;
	margin: 40px 0px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	border-radius: 3px;
	border-bottom: 4px solid #EBAF47;
	background: #FFC752;
}
.b-exercises__start_btn:active {
	border-top: 4px solid #EBAF47;
	border-bottom: none;
}

.b-phrases_block {
	position: absolute;
	top: 55px;
	right: 100px;
	text-align: right;
	z-index: 15;
}
.b-phrases_block__start_learn {
	display: inline-block;
	padding: 15px 0 0 0;
	margin-right: 10px;
	border-bottom: 1px dashed #7CC443;
	font-size: 22px;
	cursor: pointer;
	background: #fff;
}
.m-phrases_block__start_learn-active{
	padding: 10px 10px 30px 10px;
	margin: 4px -1px 0 0;
	border: 1px solid #D2D2D2;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}
.b-phrases_block__phrases_wrapper {
	margin: -1px -1px 0 0;
	width: 960px;
	border: 1px solid #D2D2D2;
	border-radius: 10px 0 10px 10px;
	text-align: left;
	background: #fff;
}
.b-phrases_block__phrases_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.b-phrases_block__phrases_list_item {
	border-bottom: 1px dashed #D2D2D2;
	padding: 30px 0;
	margin: 0 10px;
}
.b-phrases_block__phrases_list_item:last-of-type {
	border-bottom: none;
}
.b-phrases_block__listen_btn {
	display: block;
	float: left;
	width: 70px;
	height: 60px;
	margin-right: 30px;
	border-bottom: 4px solid #459E60;
	border-radius: 3px;	
	background: #50B46F url("../img/icon_listen.png") center center no-repeat;
}
.b-phrases_block__listen_btn:active {
	border-top: 4px solid #459E60;
	border-bottom: none;
}
.b-phrases_block__eng {
	display: block;
	font-size: 26px;
}
.b-phrases_block__ru {
	display: block;
	font-size: 14px;
	color: #606060;
}


.b-phrases_block__btn_wrapper {
	width: 420px;
	margin: 0 auto 30px auto;
}
.b-phrases_block__print_btn,
.b-phrases_block__save_btn {
	display: block;
	float: left;
	width: 200px;
	height: 50px;
	padding-top: 3px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
}
.b-phrases_block__print_btn {
	margin-right: 20px;
	border-bottom: 4px solid #459E60;
	background: #50B46F;	
}
.b-phrases_block__print_btn:active {
	border-top: 4px solid #459E60;
	border-bottom: none;
}
.b-phrases_block__save_btn {
	border-bottom: 4px solid #00538F;
	background: #005FA3;
}
.b-phrases_block__save_btn:active {
	border-top: 4px solid #00538F;
	border-bottom: none;
}
.b-phrases_block__btn_icon {
	display: inline-block;
	width: 19px;
	height: 18px;
	margin: 0 10px -3px 0;
	background: url("../img/icon_exercise_btn.png") no-repeat;
}
.m-phrases_block__btn_icon-print {
	background-position: 0 2px;
}
.m-phrases_block__btn_icon-save {
	background-position: -32px 2px;
}

.b-comments_block {
	margin-top: 40px;
}
.b-comments_block__comments_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.m-comments_block__comments_list-sublist {
	margin-left: 60px;
}
.b-comments_block__avatar {
	display: block;
	float: left;
	margin-right: 10px;
}
.b-comments_block__content {
	padding-bottom: 50px;
}
.b-comments_block__name {
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	padding-right: 20px;
}
.b-comments_block__date {
	font-size: 12px;
	color: #919191;
}
.b-comments_block__status {
	display: block;
	font-size: 14px;
	color: #6C7072;
}
.b-comments_block__comment {
	display: block;
	font-size: 16px;
	color: #303030;
}
.b-comments_block__reply {
	display: block;
	float: left;
	margin-top: 7px;
	padding-right: 40px;
	color: #00A1C6;
	font-size: 12px;
	text-decoration: underline;	
	cursor: pointer;
}
.b-comments_block__reply:after {
	content: "";
	display: inline-block;
	height: 11px;
	width: 11px;
	margin-left: 5px;
	background: url("../img/icon_reply.png") center right no-repeat;
}
.b-comments_block__dislike,
.b-comments_block__like {
	display: block;
	float: left;
	width: 22px;
	height: 29px;
	background: url("../img/icon_estimation.png") no-repeat;
}
.b-comments_block__dislike {
	background-position: 0 0;
}
.b-comments_block__like  {
	background-position: -34px 0;
}
.b-comments_block__like_count {
	display: block;
	float: left;
	min-width: 20px;
	margin: 3px 10px 0 10px;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
}
.m-comments_block__like_count-positive{
	background: #DAFDCF;
	color: #50B46F;
}
.m-comments_block__like_count-negative{
	background: #F2D3D6;
	color: #E44647;
}

.b-add_comment {
	margin: 0 0 50px 60px;
}
.b-add_comment__avatar {
	display: block;
	float: left;
	margin-right: 10px;
}
.b-add_comment__send_btn {
	display: block;
	width: 200px;
	height: 50px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
	border-bottom: 4px solid #00538F;
	background: #005FA3;
}
.b-add_comment__text {
	display: block;
	width: 70vw;
	max-width: 650px;
	margin-bottom: 15px;
	padding: 10px 20px;	
	background: #fff;
	font-size: 14px;
	border: 1px solid #D2D2D2;
}
.b-add_comment__send_btn:active {
	border-top: 4px solid #00538F;
	border-bottom: none;
}

.b-comments_block__show_all {
	text-align: center;
}
.b-comments_block__show_all_btn {
	display: inline-block;
	margin-bottom: 60px;
	font-size: 18px;
	border-bottom: 1px dashed #7CC443;
	cursor: pointer;
}
.b-comments_block__show_all_btn:hover {
	border: none;
	margin-bottom: 61px;
}

.b-similar_exercises__slide {
	width: 200px;
	padding: 10px;
	background: #fff;
	border-radius: 3px;	
	color: #303030;
}
.b-similar_exercises__slide_title {
	font-size: 14px;
}
.b-slide_footer {
	display: table; 
	width: 100%;
	margin-top: 15px;
}
.b-slide_footer__level_wrapper,
.b-slide_footer__phrases_amount_wrapper,
.b-slide_footer__like_wrapper {
	display: table-cell;
}
.b-slide_footer__phrases_amount_wrapper {
	text-align: center;
}
.b-slide_footer__like_wrapper {
	text-align: right;
}
.b-slide_footer__level {
	width: 32px;
	height: 12px;	
	background: url("../img/complexity_level_2.png") no-repeat;
	background-size: 32px 12px;
}
.b-slide_footer__phrases_amount {
	font-size: 14px;
}
.b-slide_footer__like {
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url("../img/icon_slide_like.png") no-repeat;
	background-position: 0 6px;
}
.m-slide_footer__like-unused {
	background-position: 0 -17px;
}


@media only screen and (max-width: 961px){
	.b-phrases_block ,
	.jcarousel-pagination {
		display: none;
	}
	.go_back_link:before {
		margin-left: 10px;
	}
	
	.big_video {
		width: 100%;
		height: 56vw;
	}
	.b-section_video__level {
		width: 40%;
		margin-right: 10px;
	}
	
	.b-teacher_block {
		padding-left: 10px;
	}
	.b-usefull_links {
		width: 30%;
	}
	.b-icon_link_blocks{
		width: 30%;
	}
	.b-icon_link_block {
		float: none;
		width: 100%;
	}
	
	.b-comments_block__avatar {
		margin-left: 10px;
	}
	
	.m-light_blue:before {
		background: transparent url(../img/light_blue.png) 0 0 repeat-x;
		height: 8px;
		margin: -32px 0 40px 0;
		z-index: 10;
	}
}
