﻿@font-face {
    font-family: 'heliosregular';
    src: url('../font/helios-webfont.eot');
    src: url('../font/helios-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helios-webfont.woff') format('woff'),
         url('../font/helios-webfont.ttf') format('truetype'),
         url('../font/helios-webfont.svg#heliosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helioslightregular';
    src: url('../font/helioslight-webfont.eot');
    src: url('../font/helioslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helioslight-webfont.woff') format('woff'),
         url('../font/helioslight-webfont.ttf') format('truetype'),
         url('../font/helioslight-webfont.svg#helioslightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heliosbold';
    src: url('../font/helios-bold-webfont.eot');
    src: url('../font/helios-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helios-bold-webfont.woff') format('woff'),
         url('../font/helios-bold-webfont.ttf') format('truetype'),
         url('../font/helios-bold-webfont.svg#heliosbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.eot');
    src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../font/helveticaneuecyr-medium-webfont.eot');
    src: url('../font/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../font/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('../font/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'MuseoCyrl-500';
src: url('../font/29F3C0_0_0.eot');
src: url('../font/29F3C0_0_0.eot?#iefix') format('../font/embedded-opentype'),
url('../font/29F3C0_0_0.woff') format('woff'),
url('../font/29F3C0_0_0.ttf') format('truetype');
}