@media only screen and (max-width: 1300px){
    .b-navigation{
        display: none;
    }
}

/**
** display > 960
**/
@media only screen and (max-width: 961px){
    /* hide */
    .b-navigation,
    .b-programm__img-man{
        display: none;
    }
	.pe_heder-menu.over ul li ul {
		top: 43px;
	}
    /**
    ** Custom
    **/
    body{ font-size: 16px; }
    .l-wrapper{ width: 100%; min-width: 668px; }
    .b-section img{ max-width: 100%; }
    .b-block__title{ font-size: 36px; }
    .b-block__subtitle{ font-size: 20px; }

    /**
    ** Header
    **/
    .b-header { min-width: 320px; }
    .b-header-fix{height: 74px;}
    .b-entrance { margin-top: 28px; }
    .n-entrance__reg { padding: 10px 15px 8.5px; }
    .n-entrance__in { padding: 10px 15px 8.5px; }
    .pe_serchclock.active { width: 130px; }
    .pe_logo{ margin: 21px 0 0 13px; background-size: 219px 34px; width: 88px; }
    .pe_heder-menu { margin: 31px 0 0 28px; }
    .pe_serchclock{ margin: 20px 0 0 -6px; }

    /**
    ** Container
    **/
    /* block 1 */
    .n-block__1 { padding-top: 51px; min-height: 561px; }
    .n-block__1 .b-infoblock { margin: 84px 0px 0px 8px; }
    .n-block__1 .b-infoblock__text { padding: 6px 0px 0px; width: 270px; height: 92px; }
    .n-block__1 .b-reg__block { margin-right: 14px; }
    .n-block__1 .m-circle__blue { margin: 0px 0px 0px; }
    .n-block__1 .b-video__btn { margin-top: 5px; }

    /* block 2 */
    .n-block__2 { padding-top: 40px; min-height: 372px; }
    .n-block__2 .b-block__title{ padding-left: 40px; margin-bottom: 47px; font-size: 42px; }

    /* block 3 */
    .n-block__3 { padding-top: 28px;min-height: 341px; }
    .n-block__3 .b-infoblock { margin: 45px 0px 0px 9px; }
    .n-block__3 .b-infoblock__text { padding: 6px 0px 53px 0px; font-size: 18px; }
    .n-block__3 .m-circle__red { margin-top: -11px; }
    .b-testing__img { margin: 46px 38px 0px 0px; width: 303px; }

    /* block 4 */
    .n-block__4 { padding-top: 39px; min-height: 391px; }
    .n-block__4 .b-block__title, .n-block__4 .b-block__subtitle { padding-left: 4px; }
    .n-block__4 .b-infoblock{ margin: 70px 0px 0px 10px; }
    .n-block__4 .b-infoblock__img { width: 90px; }
    .n-block__4 .b-infoblock__text { padding: 3px 0px 36px 0px; width:285px; }
    .n-block__4 .m-circle__green { margin-top: -5px; }
    .b-programm__img { margin: 64px 2px 0px 0px; }

    /* block 5 */
    .n-block__5 { padding-top: 30px; min-height: 421px; }
    .n-block__5 .b-block__title { padding-left: 25px; }
    .n-block__5 .b-block__subtitle { padding-left: 40px; }
    .n-block__5 .b-infoblock { margin: 45px 0px 0px 10px; }
    .n-block__5 .b-infoblock__img { width: 91px; }
    .n-block__5 .b-infoblock__text { width: 255px; height: 71px; padding-bottom: 21px; }
    .b-movie__img { margin: 75px 14px 0px 0px; width: 370px; }

    /* block 6 */
    .n-block__6 { padding-top: 35px; min-height: 379px; }
    .n-block__6 .b-infoblock { margin: 64px 0px 0px 10px; }
    .n-block__6 .b-infoblock__text { width: 280px; height: 58px; padding-bottom: 41px; }
    .b-audio__img { margin: 44px 21px 0px 0px; width: 331px; }
    .n-block__6 .m-circle__green { margin-top: 5px; }
    .n-block__6 .b-video__btn { margin-top: -2px; }

    /* block 7 */
    .n-block__7 { padding-top: 30px; min-height: 373px; }
    .n-block__7 .b-block__title, .n-block__7 .b-block__subtitle { padding-left: 0px; }
    .n-block__7 .b-infoblock { margin: 52px 0px 0px 9px; }
    .n-block__7 .b-infoblock__img { width: 91px; }
    .n-block__7 .b-infoblock__text { width: 265px; height: 83px; }
    .b-video__img { margin: 36px 36px 0px 0px; width: 321px; }

    /* block 8 */
    .n-block__8 { padding-top: 32px; min-height: 320px; }
    .n-block__8 .b-infoblock { margin: 35px 0px 0px 9px; }
    .n-block__8 .b-infoblock__text { width: 295px; height: 58px; padding-bottom: 35px; }
    .n-block__8 .b-color__circle { margin-top: 1px; }
    .b-dictionary__img { margin: 39px 25px 0px 0px; width: 336px; }

    /* block 9 */
    .n-block__9 { padding-top: 29px; min-height: 319px; }
    .n-block__9 .b-proffesion__img { width: 165px; height: 165px; margin: 90px 0px 0px 12px; }
    .b-proffesion__text { width: 573px; }
    .b-proffesion__text .b-block__title { margin-bottom: 30px; }

    /* block 10 */
    .n-block__10 { padding-top: 44px; min-height: 405px; }
    .n-block__10 .b-block__title { padding-left: 35px; }
    .n-block__10 .b-slider { margin: 27px 0px 0px; }
    .n-block__10 .b-slide__review { margin: 37px auto 0px; display: table; }
    .n-block__10 .slides-navigation a{ top: 43px; }

    /* block 11 */
    .n-block__11 { padding-top: 27px; min-height: 501px; }
    .n-block__11 .b-block__title { padding-left: 0px; }
    .n-block__11 .b-infoblock__img { width: 90px; }
    .n-block__11 .b-infoblock { margin: 67px 0px 0px 9px; }
    .n-block__11 .b-infoblock__text { width: 280px; height: 83px; padding-bottom: 12px; }
    .n-block__11 .b-reg__block { margin-top: 16px; margin-right: 25px;}

     /**
     **  Footer
     **/
    .b-footer { min-height: 425px; }
    .b-footer-menu { margin-top: 44px; }
    .m-button__contact { margin: 47px 12px 0px 0px; position: absolute; top: 0px; right: 0px; width: 150px; z-index: 10; }
    .b-footer-menu > ul > li { margin-right: 16px; }
    .b-footer-menu > ul > li:last-child { margin-right: 0px; }
}
@media only screen and (max-width: 768px) and (min-width: 668px){
    .b-section .pull-left {width: 45%;}
    .b-section .pull-right {width: 50%}
    .n-block__9 .b-proffesion__img{ width: 165px; }
    .n-block__9 .pull-right{ width: 70%; }
    .n-block__10 .pull-left{ width: 126px; }
}
@media only screen and (max-width: 668px){
    /* hide */
    .pe_serchclock,
    .n-block__1 .b-block__subtitle,
    .n-block__1 .b-infoblock,
    .mob-hide{
        display: none;
    }
    .b-form__inmenu .pe_serchclock{
        display: block;
        float: none;
        margin: 0;
        background: #d1d1d1;
        display: block;
        width: 100%;
        border-radius: 0px;
        box-sizing: border-box;
        padding: 10px 20px;
    }
    .b-form__inmenu .pe_serchclock [type=text] { height: 40px; padding: 6px 10px 7px 40px; }
    .b-form__inmenu .pe_serchclock .pe_serch{
        top: 10px;
        right: auto;
        left: 20px;
        width: 39px;
        height: 39px;
        background-color: #f6f6f6;
    }

    /**
    ** Custom
    **/
    body{font-size: 18px}
    .l-wrapper{ width: 100%; min-width: 320px; }
    .mob-view{ display: block !important; }
    .b-block__title{ font-size: 30px;line-height: 1.2; padding: 0 10px !important }
    .b-block__subtitle{ font-size: 18px; padding: 0 10px !important; }
    .b-section .pull-right,
    .b-section .pull-left{float: none;}
    .b-reg__soc { margin: 20px auto -7px; display: table; }
    .b-reg__soc__item { display: inline-block; margin-left: 21px; }
    .b-reg__block { margin: 25px auto 0 !important;padding: 20px 11px; width: 320px; }
    .b-reg__title { font-size: 18px; text-align: left; margin-bottom: 26px; }
    .b-color__circle { width: 30px; height: 30px; background-size: cover; }
    .b-color__circle.m-circle__blue { background-position: 0px -29px; }
    .b-color__circle.m-circle__orange { background-position: -1px -118px; }
    .b-color__circle.m-circle__yellow { background-position: 0px -59px;height: 29px; }
    .b-color__circle.m-circle__green { background-position: 0px -88px; }
    .b-color__circle.m-circle__red { background-position: 0px 1px; }
    .b-infoblock { display: table; margin-left: auto !important; margin-right: auto !important; }
    .b-video__btn { z-index: 10; position: relative; }
    .b-ico{ width: 13px; padding-top: 5px !important; }
    .b-ico__done{ padding-top: 9px!important; }

    /**
    ** Header
    **/
    .pe_heder-menu button {
        background: #f6f6f6 url('../img/ico/Humb.svg') center center no-repeat;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0;
        padding: 0;
        display: block!important;
        -webkit-border-radius: 9em;
        border-radius: 9em;
        position: relative;
        z-index: 10;
    }
    #top_menu_toggle {
        position: absolute;
        left: -999em;
        display: block!important;
    }
    .pe_heder-menu ul {
        display: none;
    }
    #top_menu_toggle.menu-open + button + ul {
        display: block;
        position: absolute;
        z-index: 0;
        top: 67px;
        margin-left: -79px;
    }
    .pe_heder-menu.over ul li ul {
        margin: 0px 0 0 0px;
		top: 0;
    }
    .pe_heder-menu ul li ul li {
        min-width: 200px;
    }
    #top_menu_toggle.menu-open + button + ul > li {
        background: #575757;
        position: relative;
        z-index: 11;
        margin: 0 0 0 0px;
    }
    #top_menu_toggle.menu-open + button + ul > li:first-child a{
        padding: 18px 19px 16px;
    }
    #top_menu_toggle.menu-open + button + ul > li.drop-menu{
        border-top: #686868 solid 1px;
    }
    #top_menu_toggle.menu-open + button + ul li {
        float: none;
    }
    .pe_heder-menu ul li ul li:first-child {
        border-top: #686868 solid 1px;
    }
    #top_menu_toggle.menu-open + button + ul > li > a {
        font-size: 15px;
        color: #fff;
        display: block;
        padding: 12px 19px;
        font-family: 'heliosregular';
        font-weight: normal;
    }
    .pe_heder-menu ul li ul li a {
        font-size: 15px;
        padding: 13px 19px 13px 41px;
        color: #a2a2a2;
    }
    #top_menu_toggle.menu-open + button + ul > li > a:hover {
        color: #00a9ef;
    }
    #top_menu_toggle.menu-open + button + ul .sub-menu {
        display: block;
        float: none;
        position: relative;
    }
    .pe_heder-menu ul li.drop-menu {
        background: none;
        padding: 0;
        margin: 0;
    }
    .pe_heder-menu ul li ul{}
    .b-header-fix {
        height: 67px;
    }
    .pe_logo {
        margin: 15px 0 0 3px;
        background-size: 242px 34px;
        width: 96px;
    }
    .pe_heder-menu {
        margin: 12px 0 0 33px;
    }
    .b-entrance {
        margin-top: 21px;
        margin-right: 24px;
    }
    .n-entrance__in {
        padding: 10px 21px 8.5px;
    }
    .b-entrance {
        margin-top: 19px;
    }

    /**
    ** Content
    **/
    /* n-block__1 */
    .n-block__1 { margin: 64px 0px 0px 0px; padding-top: 26px; min-height: 480px; }
    .n-block__1 .b-reg__block { margin-top: 25px; }

    /* block 2 */
    .n-block__2 { padding-top: 19px; min-height: 513px; }
    .n-block__2 .b-block__title{ padding-left: 18px; margin-bottom: 32px; font-size: 30px; }
    .n-block__2 .b-block__levels{ display: block;width: 300px; padding: 0px 10px; overflow: hidden; margin: 0 auto -11px; }
    .n-block__2 .b-level__item { width: 140px; height: 136px; display: block; float: left; margin-bottom: 21px; }
    .n-block__2 .b-level__item.level-1,
    .n-block__2 .b-level__item.level-3{ margin-right: 20px; }
    .n-block__2 .b-level__item.level-3,
    .n-block__2 .b-level__item.level-4{ margin-bottom: 0px; }
    .n-block__2 .b-level__text { margin-top: 8px; }
    .n-block__2 .b-level__btmtext { padding: 0px 30px; line-height: 1.5; }

    /* block 3 */
    .n-block__3 { padding-top: 32px;min-height: 544px; }
    .n-block__3 .b-block__title { margin-bottom: 31px; }
    .n-block__3 .b-infoblock { margin: 35px 0px 0px 9px; }
    .n-block__3 .b-infoblock__img{ width: 46px; }
    .n-block__3 .b-infoblock__text { padding: 1px 0px 37px 0px; font-size: 18px;width: 260px; }
    .b-testing__img { margin: 8px auto 0px; width: 284px; display: block; }
    .n-block__3 .m-circle__red { margin-top: -3px; }
    .n-block__3 .m-circle__yellow img {padding-top: 8px !important;}
    .n-block__3 .m-circle__red img {padding-top: 6px !important;}

    /* block 4 */
    .n-block__4 { padding-top: 32px; min-height: 573px; }
    .n-block__4 .b-block__title { margin-bottom: 10px; }
    .n-block__4 .b-infoblock{ margin: 37px 0px 0px 10px; }
    .n-block__4 .b-infoblock__img { width: 49px; }
    .n-block__4 .b-infoblock__text { padding: 3px 0px 33px 0px; width:285px;font-size: 16px; }
    .n-block__4 .m-circle__green { margin-top: 4px; }
    .n-block__4 .b-infoblock { padding-left: 10px; }
    .b-programm__img { margin: 5px auto 0px; display: block; width: 253px; }

    /* block 5 */
    .n-block__5 { padding-top: 31px; min-height: 493px; }
    .n-block__5 .b-block__title { margin-bottom: 6px; }
    .n-block__5 .b-block__subtitle { padding-left: 40px; }
    .n-block__5 .b-infoblock { margin: 32px 0px 0px 10px; }
    .n-block__5 .b-infoblock__img { width: 45px; margin-right: 0px; display: inline-block; }
    .n-block__5 .b-infoblock__text { padding-bottom: 31px; }
    .n-block__5 .b-color__circle { margin-top: 10px; }
    .n-block__5 .b-video__btn { margin-top: 5px; }
    .n-block__5 .b-view__link{ position: relative; left: 42px; }
    .n-block__5 .pull-right{ display: none }

    /* block 6 */
    .n-block__6 { padding-top: 31px; min-height: 575px; }
    .n-block__6 .b-infoblock { margin: 46px 0px 0px 10px;padding-left: 10px; }
    .n-block__6 .b-infoblock__img { width: 48px; display: inline-block; }
    .n-block__6 .b-infoblock__text { padding-bottom: 39px; }
    .b-audio__img { margin: 1px auto 0px; width: 268px; display: block; }
    .n-block__6 .b-view__link{ position: relative; left: 40px; color: #00a9ef; border-bottom: 1px solid #d4ebfb; }

    /* block 7 */
    .n-block__7 { padding-top: 32px; height: 545px; overflow: hidden; }
    .n-block__7 .b-block__title, .n-block__7 .b-block__subtitle { margin: 0px 50px; }
    .n-block__7 .b-infoblock { margin: 37px 0px 0px 9px; padding-left: 11px; }
    .n-block__7 .b-infoblock__img { width: 45px; display: inline-block; }
    .n-block__7 .b-infoblock__text { width: 263px; padding-right: 20px;padding-bottom: 20px; }
    .b-video__img { margin-left: -141px; width: 282px; left: 50%; bottom: -46px; position: absolute; }
    .n-block__7 .b-view__link{ position: relative; left: 50px; }
    .n-block__7 .pull-right{ position: static; }

    /* block 8 */
    .n-block__8 { padding-top: 32px; min-height: 503px; }
    .n-block__8 .b-block__title { margin: 0px 20px; }
    .n-block__8 .b-block__subtitle { margin: 0px 40px; }
    .n-block__8 .b-infoblock { margin: 26px 0px 0px 9px; padding-left: 11px; }
    .n-block__8 .b-infoblock__text { padding-bottom: 23px; }
    .n-block__8 .b-infoblock__img { width: 50px; }
    .n-block__8 .b-color__circle { margin-top: 9px; }
    .b-dictionary__img { margin: 8px auto 0px; width: 312px; display: block }

    /* block 9 */
    .n-block__9 { padding-top: 37px; min-height: 450px; }
    .n-block__9 .b-proffesion__img { width: 96px; height: 96px; margin: 0px auto 108px; position: relative; top: 91px; }
    .b-proffesion__text { width: auto; }
    .b-proffesion__text .b-block__title { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; text-align: center; margin-bottom: 0; position: absolute; top: 0; left: 0; width: 100%; }
    .b-proffesion__text .b-proffesion__sub{padding-bottom: 25px;padding: 0px 23px;}
    .b-proffesion__text p { padding: 0px 23px; }
    .n-block__9 .l-wrapper { position: relative; }
    .n-block__9 .pull-right { position: static;padding-bottom: 25px !important; }

    /* block 10 */
    .n-block__10 { padding-top: 35px; }
    .n-block__10 .b-slider { margin: 27px 0px 38px;  padding: 0px 13px 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  max-height: 450px; }
    .n-block__10 .b-slide__review { position: absolute; top: 11px; margin: 0; left: 50%; width: 215px; margin-left: -107px; }
    .n-block__10 .slides-navigation a{ position: relative; top: auto;  background-color: #f6f6f6; width: 70px; height: 70px; box-shadow: inset 0px -4px 0px 0px #d7d7d7; border-radius: 4px; }
    .n-block__10 .slides-navigation a:active{ box-shadow:  inset 0px 4px 0px 0px #d7d7d7; }
    .n-block__10 .slides-navigation a.next { right: 0; margin-right: 0px; float: right; background-position: -52px center; }
    .n-block__10 .slides-navigation a.prev { left: 0; margin-left: 0; float: left; background-position: 23px center; }
    .n-block__10 .slides-navigation { overflow: hidden; width: 179px; display: table; margin: -80px auto 0px; }
    .n-block__10 .b-slide__img_wrapp { width: 97px; height: 97px; float: left !important; }
    .n-block__10 .b-slide__subtext { margin: 20px 0px 0px 0; float: right; width: 98px; line-height: 1.2; }
    .n-block__10 .b-slide__item { padding: 137px 0px 0px; line-height: 1.225em; }
    .n-block__10 .b-slide__text { font-size: 18px;padding: 0px 25px 0px; }

    /* block 11 */
    .n-block__11 { padding-top: 27px; min-height: 501px; padding-bottom: 24px; }
    .n-block__11 .b-block__title { padding-left: 0px; }
    .n-block__11 .b-infoblock__img { width: 41px; }
    .n-block__11 .b-infoblock { margin: 12px 0px 0px 0px; }
    .n-block__11 .b-infoblock__text { font-size: 18px; width: 250px; height: 86px; padding-bottom: 12px; }
    .n-block__11 .b-reg__block { margin: 8px auto 0px !important; }
    .n-block__11 .m-circle__blue { margin: 18px 0px 0px -5px;}
    .n-block__11 .m-circle__green { margin: 5px 0px 0px -5px;}
    .n-block__11 .m-circle__yellow { margin: 24px 0px 0px -5px;}
    .n-block__11 .m-circle__blue img {padding-top: 6px !important;padding-left: 3px!important;}

    /* Footer */
    .b-footer { padding-bottom: 136px; min-height: 0px; }
    .b-footer-menu { padding-top: 18px;  margin-top: 0; float: none;margin-left: 0px; }
    .b-footer-menu { min-height: 0px; }
    .b-footer-menu .title{ font-size: 15px; font-family: 'heliosregular'; display: block; padding: 15px 11px; margin-bottom: 0;border-bottom: 1px solid #686868; background: url(../img/fmenu-arr.png) 97% 14px  no-repeat;}
    .b-footer-menu .title.item-open{ background-position:  97% -50px;}
    .b-footer-menu .drop-menu ul li a{ line-height: 36px; color: #a2a2a2 !important; }
    .b-footer-menu .drop-menu ul li a:hover{ color: #fff !important; }
    .b-footer-menu > ul > li { display: block; width: auto; margin-right: 0px; }
    .b-footer-menu > ul > li:last-child { width: auto; }
    .b-footer-menu .drop-menu ul{ padding: 4px 0px 0px 32px; border-bottom: 1px solid #686868; display: none; }
    .b-button__cbl{ float: none; clear: both; }
    .m-button__contact { margin: 30px auto 30px; width: 150px; position: relative; top: auto; right: auto; }
    .b-copyright{ margin: 42px auto 0; display: table; float: none; clear: both; width: auto; }
    a.b-development{ display: table; margin: 15px auto 0; float: none; padding: 7px 50px 5px 0px; text-align: center; background-position: right 0px; }
    a.b-development:hover{ background-position: right -42px; }
    .drop-menu { margin-bottom: 0px !important; }
}
@media only screen and (max-width: 520px){
    /* hide */
    .n-entrance__reg{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    .b-reg__block { width: 100%;padding: 22px 12px; margin: 25px auto 0 !important; }
    /*.b-footer .l-wrapper{ width: 320px }*/
}