﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, hr,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input, textarea, select {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: transparent;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

article, aside, figcaption, figure, footer, header, hgroup, mark, nav, section, time {
    display: block;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    line-height: normal;
}

:focus {
    outline: none;
}

blockquote, q {
    quotes: none;
}

q:before, q:after,
blockquote:before, blockquote:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    vertical-align: top;
}

address, cite {
    font-style: normal;
}

ul, menu {
    list-style: none outside none;
}
b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

sup, sub {
    position: relative;
    font-size: 0.58em;
    line-height: 1em;
}

sup {
    top: -0.6em;
}

sub {
    top: 0.6em;
}
input[type=submit],
a, button {
    cursor: pointer;
}

textarea {
    overflow: auto;
    resize: none;
}

input[type="file"] {
    margin: 0;
}

select {
    border: 1px solid;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

/******************************************************************************/
*+html img {
    -ms-interpolation-mode: bicubic;
}

::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding:0;
    border:0;
}

/* Predefined Classes *********************************************************/
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }