@charset "utf-8";
* {
    vertical-align: baseline;
    outline: none;
    padding: 0;
    margin: 0;
}
a, a:visited { color: #4594D1; }
a { text-decoration: none; }
textarea, input {
    outline: none;
    resize: none;
    font-weight: normal;
}
p { margin-bottom: 0.3em; }


/**
** Custom
**/
body{
    font: normal 18px/1.3 helioslightregular;
    color: #333;
}
.l-wrapper{ width: 960px; margin: 0 auto; }
.mob-view{ display: none !important; }
.b-hidden{ display: none }
/* block color */
.m-blue{ background: #0460a0; }
.m-green{ background: #58ae51; }
.m-yellow{ background: #ffc353; }
.m-blue:before{ background: url(../img/puzzle-blue.png) 0 0 repeat }
.m-green:before{ background: url(../img/puzzle-green.png) 0 0 repeat }
.m-yellow:before{ background: url(../img/puzzle-yellow.png) 0 0 repeat }
.m-blue:before,.m-blue:after,
.m-green:before,.m-green:after,
.m-yellow:before,.m-yellow:after,
.m-white:after,
.b-footer:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -10;
}
/*.m-blue:after{ background: url(../img/blue-after.png) 0 0 repeat-x; height: 6px; bottom: -5px; top: auto; }*/
/*.m-green:after{ background: url(../img/green-after.png) 0 0 repeat-x; height: 6px; bottom: -5px; top: auto; }*/
/*.m-yellow:after{ background: url(../img/yellow-after.png) 0 0 repeat-x; height: 6px; bottom: -5px; top: auto; }*/
.m-white:after{ background: transparent url(../img/white-after.png) 0 0 repeat-x; height: 6px; top: -5px; bottom: auto; z-index: 10; }
.b-footer:after{ background: transparent url(../img/footer-after.png) 0 0 repeat-x; height: 6px; top: -5px; bottom: auto;z-index: 10; }
/*******************************/
.b-section{ position: relative;z-index: 10; }
.m-blue,
.m-blue a,
.m-green,
.m-green a{color: #fff}
.b-block__title{ font-family: MuseoCyrl-500; font-size: 42px;line-height: 1.5 }
.b-block__subtitle{ font-family: helioslightregular; font-size: 24px; }
.pull-left{ float: left; position: relative; }
.pull-right{ float: right;position: relative; }
.t-center{ text-align: center; }
.t-row{ display: table-row; width: 100%; }
.t-cell{ display: table-cell; }
.t-small{ font-size: 16px; }
.b-button-big,
.b-button{ position: relative; border-radius: 3px;-webkit-appearance: none !important; -moz-appearance: none !important; -ms-appearance: none !important; -o-appearance: none !important; appearance: none !important; }
.b-button:active{ border-bottom: 0 none!important; top: 4px;  }
.b-button-big:active{ border-bottom: 0 none !important; top: 6px; }
.btn-green{ background: #71b26f; border-bottom: 4px solid #639c61; color: #fff !important; }
.btn-green:active{ border-top: 4px solid #639c61; }
.b-button-big.btn-green{ border-bottom: 6px solid #639c61; }
.b-button-big.btn-green:active{ border-top: 6px solid #639c61; }
.btn-white{ background: #f6f6f6; border-bottom: 4px solid #d7d7d7; color: #333 !important; }
.btn-white:active{ border-top: 4px solid #d7d7d7; }
.b-view__link{ font-size: 20px; }
.b-view__link:hover { border-bottom-color: transparent!important; }
.b-color__circle{ width: 60px; height: 60px; border-radius: 100%; /*display: table-cell; vertical-align: middle; text-align: center; *//*background: url(../img/circle-sprite.png) 0 0 no-repeat;*/ }
.b-color__circle img{ display: block; margin: 0px auto; padding-top: 13px; }
.b-color__circle.m-circle__red{
    background: rgb(213,71,74);
    background: -moz-linear-gradient(left, rgba(213,71,74,1) 50%, rgba(220,106,108,1) 51%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(213,71,74,1)), color-stop(51%,rgba(220,106,108,1)));
    background: -webkit-linear-gradient(left, rgba(213,71,74,1) 50%,rgba(220,106,108,1) 51%);
    background: -o-linear-gradient(left, rgba(213,71,74,1) 50%,rgba(220,106,108,1) 51%);
    background: -ms-linear-gradient(left, rgba(213,71,74,1) 50%,rgba(220,106,108,1) 51%);
    background: linear-gradient(to right, rgba(213,71,74,1) 50%,rgba(220,106,108,1) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5474a', endColorstr='#dc6a6c',GradientType=1 );
}
.b-color__circle.m-circle__blue{
    background: rgb(3,136,191);
    background: -moz-linear-gradient(left, rgba(3,136,191,1) 50%, rgba(41,137,216,1) 50%, rgba(53,160,204,1) 51%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(3,136,191,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(53,160,204,1)));
    background: -webkit-linear-gradient(left, rgba(3,136,191,1) 50%,rgba(41,137,216,1) 50%,rgba(53,160,204,1) 51%);
    background: -o-linear-gradient(left, rgba(3,136,191,1) 50%,rgba(41,137,216,1) 50%,rgba(53,160,204,1) 51%);
    background: -ms-linear-gradient(left, rgba(3,136,191,1) 50%,rgba(41,137,216,1) 50%,rgba(53,160,204,1) 51%);
    background: linear-gradient(to right, rgba(3,136,191,1) 50%,rgba(41,137,216,1) 50%,rgba(53,160,204,1) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0388bf', endColorstr='#35a0cc',GradientType=1 );
}
.b-color__circle.m-circle__yellow{
    background: rgb(221,157,38);
    background: -moz-linear-gradient(left, rgba(221,157,38,1) 50%, rgba(226,175,80,1) 51%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(221,157,38,1)), color-stop(51%,rgba(226,175,80,1)));
    background: -webkit-linear-gradient(left, rgba(221,157,38,1) 50%,rgba(226,175,80,1) 51%);
    background: -o-linear-gradient(left, rgba(221,157,38,1) 50%,rgba(226,175,80,1) 51%);
    background: -ms-linear-gradient(left, rgba(221,157,38,1) 50%,rgba(226,175,80,1) 51%);
    background: linear-gradient(to right, rgba(221,157,38,1) 50%,rgba(226,175,80,1) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd9d26', endColorstr='#e2af50',GradientType=1 );
}
.b-color__circle.m-circle__green{
    background: rgb(113,178,111);
    background: -moz-linear-gradient(left, rgba(113,178,111,1) 50%, rgba(127,186,126,1) 51%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(113,178,111,1)), color-stop(51%,rgba(127,186,126,1)));
    background: -webkit-linear-gradient(left, rgba(113,178,111,1) 50%,rgba(127,186,126,1) 51%);
    background: -o-linear-gradient(left, rgba(113,178,111,1) 50%,rgba(127,186,126,1) 51%);
    background: -ms-linear-gradient(left, rgba(113,178,111,1) 50%,rgba(127,186,126,1) 51%);
    background: linear-gradient(to right, rgba(113,178,111,1) 50%,rgba(127,186,126,1) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b26f', endColorstr='#7fba7e',GradientType=1 );
}
.b-color__circle.m-circle__orange{
    background: rgb(223,135,20);
    background: -moz-linear-gradient(left, rgba(223,135,20,1) 50%, rgba(253,179,43,1) 51%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(223,135,20,1)), color-stop(51%,rgba(253,179,43,1)));
    background: -webkit-linear-gradient(left, rgba(223,135,20,1) 50%,rgba(253,179,43,1) 51%);
    background: -o-linear-gradient(left, rgba(223,135,20,1) 50%,rgba(253,179,43,1) 51%);
    background: -ms-linear-gradient(left, rgba(223,135,20,1) 50%,rgba(253,179,43,1) 51%);
    background: linear-gradient(to right, rgba(223,135,20,1) 50%,rgba(253,179,43,1) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df8714', endColorstr='#fdb32b',GradientType=1 );
}
.b-video__btn{ display: inline-block; width: 69px; height: 60px;position: relative;  }
.b-video__btn.video-white{ background: #fff center center no-repeat; border-radius: 3px; box-shadow: inset 0px -4px 0px 0px #dfdfdf;  }
.b-video__btn.video-blue:after,
.b-video__btn.video-white:after{
    content: '';
    position: absolute;
    left: 26px;
    top: 22px;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
}
.b-video__btn.video-white:after{border-left: 18px solid #00a9ef;}
.b-video__btn.video-blue:after{border-left: 18px solid #fff;}
.b-video__btn.video-blue{ background: #96d7e0 ; border-radius: 3px; box-shadow: inset 0px -4px 0px 0px #83bcc4;  }
.b-video__btn.video-blue:active{ box-shadow: inset 0px 4px 0px 0px #83bcc4; }
.b-video__btn.video-white:active{ box-shadow: inset 0px 4px 0px 0px #dfdfdf;  }
.b-video__block{ position: relative; text-align: center; width: 100%; height: 100%; max-height: 500px; margin: 0 auto; max-width: 800px; }
.arcticmodal-close{
    position: absolute;
    top: -20px;
    right: -40px;
    border: 0 none;
    background: url(../img/close_b.png) 0 0 no-repeat;
    width: 28px;
    height: 27px;
    cursor: pointer;
    text-indent: -50px;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
}
.arcticmodal-close:hover {
    background-position: 0 -26px;
}
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

/* Register block */
.b-reg__block{
    background: rgba(105,196,234,0.1);
    background: -ms-linear-gradient(top,  rgba(105,196,234,0.1) 0%,rgba(105,196,234,0.1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a69c4ea', endColorstr='#1a69c4ea',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    width: 360px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 30px;
}
.b-reg__form{
    position: relative;
}
.b-email__error {
    position: absolute;
    background: #d5474a;
    width: 100%;
    top: 114px;
    z-index: 10;
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-family: Arial;
}
.b-email__error:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -10px;
    border-bottom: 10px solid #d5474a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.b-form__success {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    color: #333;
    background: #fff;
    border-radius: 3px;
    padding: 18px 15px 18px;
}
.b-logo__succes{
    margin: 29px 0px 0px;
}
.b-reg__title{
    font-family: MuseoCyrl-500;
    font-size: 25px;
}
.b-reg__user__email{
    display: block;
    margin: 18px 0px 0px;
    padding: 12.5px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #1474b5 url(../img/user-login.png) 96% center no-repeat;
    border-radius: 3px;
    color: rgba(236, 236, 236, 0.5);
    font-size: 16px;
    width: 100%;
    font-family: Arial,sans-serif;
}
.n-reg__submit{
    display: block;
    margin: 20px 0px 0px;
    padding: 17px 0px 11px;
    width: 100%;
    font-size: 20px;
}
.n-reg__submit:active{margin-bottom: 16px}
.b-reg__or{
    position: relative;
    color: #5797c2;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin: 16px 0px 0px;
}
.b-reg__or:after,
.b-reg__or:before{
    content: '';
    position: absolute;
    width: 127px;
    height: 1px;
    background: #5796c1;
    top: 8px;
}
.b-reg__or:after{right: 0;}
.b-reg__or:before{left: 0;}
.b-reg__vk__link{
    background: #5b74a0;
    border-bottom: 6px solid #50658c;
    padding: 19px 0px 17px 68px;
    position: relative;
    border-radius: 3px;
    display: block;
    line-height: 1;
    margin: 17px 0px 0px;
}
.b-reg__vk__link>span{
    width: 54px;
    height: 100%;
    border-bottom: 6px solid #46587a;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px 0px 0px 3px;
    background: #50658c url(../img/vk-reg.png) center center no-repeat;
}
.b-reg__vk__link:active{ border-bottom: 0 none;top: 6px; margin-bottom: 16px;border-top: 6px solid #50658c; }
.b-reg__vk__link:active>span{ border-bottom: 0 none;border-top: 6px solid #46587a; top: -6px; }
.b-reg__soc { margin: 20px 0px -7px; }
.b-reg__soc__item{ display: inline-block; margin-left: 21.5px; }
.b-reg__soc__item:first-child{ margin-left: 0px; }
.b-reg__soc__item a{ background: url(../img/soc-sprite.png) 0 0  no-repeat; width: 38px; height: 38px; display: block; }
.b-reg__soc__item a:hover{ opacity: .8; }
.b-reg__soc__item.m-fb a{ background-position: 0px 0px; }
.b-reg__soc__item.m-ok a{ background-position: -38px 0px; }
.b-reg__soc__item.m-mail a{ background-position: -76px 0px; }
.b-reg__soc__item.m-yandex a{ background-position: -114px 0px; }
.b-reg__soc__item.m-google-plus a{ background-position: -152px 0px; }

/* b-navigation */
.b-navigation__wrapp{
	z-index: 999;
	left: 100% !important;
	margin-left: -130px;
}
.b-navigation {
position: fixed;
z-index: 999;
top: 29% !important;
right: 33px;
left: 90%;
height: 360px;
/*margin-top: 200px;*/
}
.b-navigation li a {
	color: #fff;
	padding: 5px 40px 21px 9px;
	display: block;
	min-width: 75px;
	/*-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;        
	transition:all 0.5s ease-in-out;*/
}
.b-navigation li.current a {
	color: #FDB32B !important;
}
.b-navigation li.current{
	color: #000;
	background: url(../img/navigator_png.png);
	background-repeat: no-repeat;
	background-position: 100% -33px !important;
}
.b-navigation__navigation.m-menu__item-light{
    background: url(../img/navigator_png2.png) 100% 6px no-repeat;
    color: #7e7e7e !important;
}
.b-navigation__navigation.m-menu__item-light a{
    color: #7e7e7e !important;
}
.b-navigation:hover li.m-navigation__navigation{
    color: #7e7e7e;
    -webkit-transition: color .6s ease-in;
    -moz-transition: color .6s ease-in;
    -ms-transition: color .6s ease-in;
    -o-transition: color .6s ease-in;
    transition: color .6s ease-in;
}
.b-navigation__navigation{
    color: #fff;
    font-family: 'heliosregular';
    font-size: 12px;
    background: url(../img/navigator_png.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    cursor: pointer;
    text-align: right;
	min-width: 124px;
}
.b-navigation__navigation:hover{
    color: #fff;
    background: url(../img/navigator_png.png);
    background-repeat: no-repeat;
    background-position: right -33px;
    -webkit-transition: color .6s ease-in;
    -moz-transition: color .6s ease-in;
    -ms-transition: color .6s ease-in;
    -o-transition: color .6s ease-in;
    transition: color .6s ease-in;
}
.m-navigation__navigation{
    color: #6f6f6f;
    font-family: 'helioslightregular';
    font-size: 12px;
    background: url(../img/navigator_png2.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    padding: 5px 40px 21px 9px;
    cursor: pointer;
    text-align: right;

}
.m-navigation__navigation:hover{
    color: #7e7e7e;
    background: url(../img/navigator_png2.png);
    background-repeat: no-repeat;
    background-position: right -33px;
}
.b-navigation__navigation.active{
    color: #fff;
    background: url(../img/navigator_png.png);
    background-repeat: no-repeat;
    background-position: right -33px;
}
.m-navigation__navigation.active{
    color: #7e7e7e;
    background: url(../img/navigator_png2.png);
    background-repeat: no-repeat;
    background-position: right -33px;
}
/* end b-navigation */

/* fixed header */
.b-header-fix {
    background: #fff;
    height: 69px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
}
.b-header-fix:after, .b_header-full-static:after {
    background: url("../img/header_bg.png") center top repeat-x;
    height: 5px;
    width: 100%;
    margin-bottom: 0px;
    z-index: 2;
    position: absolute;
    content: "";
    display: block;
    bottom: -4px;
    z-index: 10;
}
.b-header {
    margin: 0 10px;
    min-width: 960px;
}
.pe_logo {
    display: block;
    margin: 18px 0 0;
    background: url(../img/logo.png) no-repeat;
    width: 241px;
    height: 36px;
    float: left;
}
.pe_heder-menu {
    float: left;
    margin: 27px 0 0 36px;
}
.pe_heder-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pe_heder-menu ul li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    font: 16px/1.3 'HelveticaNeueCyrLight';
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}
.pe_heder-menu > ul > li > a {
    font-weight: bold;
    color: #444;
}
.pe_heder-menu ul li a {
    font-family: 'helveticaneuecyrlight';
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}
.pe_heder-menu ul li:hover ul {
    /*display: block;*/
}
.pe_heder-menu.over ul li ul {
    margin: 0px 0 0 -18px;
    z-index: 5;
}
.pe_heder-menu.over ul li ul:before{
	/*content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 10px;
	left: 0px;
	top: 0px;
	background: url("../img/header_bg.png") center top repeat-x;*/
}
.pe_heder-menu ul li ul {
    position: absolute;
    display: none;
    background: #575757;
    margin: 28px 0 0 0;
    padding: 4px 0 6px;
	top: 42px;
}
.pe_heder-menu ul li ul li {
    float: none;
    border-top: #686868 solid 1px;
    min-width: 180px;
    margin: 0 0 1px;
}
.pe_heder-menu ul li.drop-menu {
    background: url(../img/drop-men-ico.png) no-repeat right 7px;
    padding: 0 15px 21px 0;
	position: relative;
}
.pe_heder-menu ul li.drop-menu.main-open{
	background-position: right -35px;
}
.pe_heder-menu ul li ul li:first-child {
    border: none;
    margin: 0px;
}
.pe_heder-menu ul li ul li a {
    font-family: 'heliosregular';
    color: #FFF;
    font-size: 14px;
    padding: 10px 19px 9px;
    display: block;
}
.pe_heder-menu ul li ul li a:hover {
    color: #00a9ef;
}
.pe_heder-menu ul li ul li span {
    font-family: 'heliosregular';
    color: #FFF;
    font-size: 14px;
    background: #00a9ef;
    padding: 3px;
    margin: 5px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
}
.b-form__inmenu .pe_serchclock{
    display: none;
}
.pe_serchclock {
    background: #f6f6f6;
    float: left;
    margin: 16px 0 0 -2px;
    width: 40px;
    border-radius: 99px;
    position: relative;
    overflow: hidden;
    transition: width 150ms;
}
.pe_serchclock.active {
    width: 155px;
}
.pe_serchclock [type=text] {
    padding: 6px 40px 7px 15px;
    font-size: 15px;
    height: 39px;
    font-family: 'helioslightregular';
    width: 100px;
    color: #333;
    background: #f6f6f6;
    border: 0;
    border-radius: 99px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pe_serchclock .pe_serch {
    background: url(../img/serch-sprite.png) no-repeat;
    width: 40px;
    height: 40px;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 99px;
}
.pe_serchclock .pe_serch:hover {
    background-position: 0px -40px;
}

/* register block in header */
.b-entrance {
    float: right;
    margin-top: 22px;
    margin-right: 19px;
}
.n-entrance__reg{padding: 10px 25px 8.5px;margin-right: 15px;font-family: helveticaneuecyrlight; font-size: 16px;}
.n-entrance__in{ padding: 10px 20px 8.5px;font-family: helveticaneuecyrlight; font-size: 16px; }
/******************************************************************************************************/
/* end fixed header */

/* Popup register */
.m-popup__reg{
    background: #fff;
    margin: 0 auto;
    padding: 44px 50px 60px;
    width: 402px;
    position: relative;
}
.m-popup__reg input[type=text]{
    background: #dfdfdf url(../img/popup-user-login.png) 96% center no-repeat;
    color: #808080;
}
.m-popup__reg .b-reg__vk__link{ color: #fff; }
.m-popup__reg .b-reg__or{ color: #333; }
.m-popup__reg .b-reg__or:after, .m-popup__reg .b-reg__or:before{ background: #858585; }
.m-popup__reg .arcticmodal-close{ top: 10px; right: 10px; width: 32px; height: 32px;background: url(../img/close_reg_popup.png) 0 0 no-repeat; }

/*
* Content
*/

/* n-block__1 */
.n-block__1{
margin: 0px 0px 0px 0px;
padding-top: 103px;
min-height: 616px;
}
.n-block__1 .b-infoblock{ margin: 82px 0px 0px 8px; }
.n-block__1 .b-infoblock__img { width: 94px; }
.n-block__1 .b-infoblock__text { padding: 5px 0px 46px; vertical-align: top; }
.n-block__1 .m-circle__blue { margin: 5px 0px 0px; }
.n-block__1 .b-view__link { border-bottom: 1px solid #6790ba }
.n-block__1 .b-reg__block{ margin-top: 33px; }
.n-block__1 .b-video__btn{ margin-top: -11px; }

/* n-block__2 */
.n-block__2{ padding-top: 41px; min-height: 388px; }
.n-block__2 .b-block__title{ padding-left: 15px;margin-bottom: 47px; }
.b-block__levels{ display: table; width: 100%;border-bottom: 1px solid #d1d1d1; }
.b-level__item{ border-bottom: 6px solid transparent;width: 25%;height: 165px; cursor: pointer; }
.b-level__item:hover{ border-bottom: 6px solid #fdb32b; color: #3ca439; }
.b-level__item.level-select{ color: #3ca439; }
.b-level__text { margin-top: 21px; }
.b-level__btmtext { margin-top: 27px; margin-bottom: 20px; }

/* n-block__3 */
.n-block__3 {
padding-top: 80px;
min-height: 440px;
}
.b-testing__img{ margin: 34px 61px 0px 0px; }
.n-block__3 .b-infoblock{ margin: 59px 0px 0px 9px; }
.n-block__3 .b-infoblock__img { width: 90px; }
.n-block__3 .b-infoblock__text { padding: 16px 0px 36px 0px; width: 270px;vertical-align: top; }
.n-block__3 .m-circle__red img { padding-top: 15px; }
.n-block__3 .m-circle__yellow img { padding-top: 14px; }

/* n-block__4 */
.n-block__4 {
padding-top: 80px;
min-height: 440px;
}
.n-block__4 .b-block__title,
.n-block__4 .b-block__subtitle{ padding-left: 15px; }
.n-block__4 .b-infoblock{ margin: 63px 0px 0px 10px; }
.n-block__4 .b-infoblock__img { width: 79px; }
.n-block__4 .b-infoblock__text { padding: 3px 0px 24px 0px;width: 305px;vertical-align: top; }
.b-programm__img { margin: 58px 67px 0px 0px; }
.b-programm__img-man{ position: absolute; right: 79px; top: 6px; }

/* n-block__5 */
.n-block__5 {
padding-top: 80px;
min-height: 490px;
}
.n-block__5 .b-block__subtitle{ padding-left: 15px; }
.n-block__5 .b-infoblock{ margin: 46px 0px 0px 10px; }
.n-block__5 .b-infoblock__img { width: 88px; }
.n-block__5 .b-infoblock__text { width: 305px; vertical-align: middle; height: 88px; }
.b-movie__img { margin: 47px -18px 0px 0px; }
.n-block__5 .n-info__vid {  }
.n-block__5 .b-view__link { border-bottom: 1px solid #d3a145; color: #333; }
.n-block__5 .m-circle__blue { margin-top: 5px; }
.n-block__5 .b-video__btn { margin-top: 11px; }

/* n-block__6 */
.n-block__6 {
padding-top: 80px;
min-height: 490px;
}
.n-block__6 .b-block__title,
.n-block__6 .b-block__subtitle{ padding-left: 15px; }
.n-block__6 .b-infoblock{ margin: 76px 0px 0px 10px; }
.n-block__6 .b-infoblock__img { width: 88px; }
.n-block__6 .b-infoblock__text { width: 305px; vertical-align: middle; height: 95px; }
.b-audio__img { margin: 41px 15px 0px 0px; }
.n-block__6 .b-view__link { border-bottom: 1px solid #d9d9d9; color: #333; }
.n-block__6 .m-circle__green { margin-top: 20px; }
.n-block__6 .b-video__btn { margin-top: 18px; }

/* n-block__7 */
.n-block__7 {
padding-top: 80px;
min-height: 470px;
}
.n-block__7 .b-block__title,
.n-block__7 .b-block__subtitle{ padding-left: 15px; }
.n-block__7 .b-infoblock{ margin: 85px 0px 0px 9px; }
.n-block__7 .b-infoblock__img { width: 109px; }
.n-block__7 .b-infoblock__text { width: 315px; vertical-align: middle; height: 84px; }
.b-video__img { margin: 42px 29px 0px 0px; }
.n-block__7 .b-view__link { border-bottom: 1px solid #347dac; color: #7fc3cd; }
.n-block__7 .b-video__btn { margin-top: 13px; }

/* n-block__8 */
.n-block__8 {
padding-top: 80px;
min-height: 430px;
}
.n-block__8 .b-infoblock{ margin: 49px 0px 0px 9px; }
.n-block__8 .b-infoblock__img { width: 91px; }
.n-block__8 .b-infoblock__text { width: 315px; vertical-align: middle; height: 92px; }
.n-block__8 .b-color__circle { margin-top: 16px; }
.n-block__8 .m-circle__green img { padding-top: 16px; }
.b-dictionary__img { margin: 42px 61px 0px 0px; }

/* n-block__9 */
.n-block__9 {
padding-top: 80px;
min-height: 400px;
}
.n-block__9 .b-proffesion__img{ width: 221px; height: 221px; border-radius: 100%; overflow: hidden;margin: 61px 0px 0px 47px; }
.n-block__9 .b-proffesion__img img{ max-width: 100%; width: 100%; }
.b-proffesion__text { width: 648px;line-height: 1.4; }
.b-proffesion__text .b-block__title{ margin-bottom: 20px; }
.b-proffesion__text .b-proffesion__sub{ font-size: 16px; font-family: heliosbold;margin-bottom: 30px; }

/* n-block__10 */
.n-block__10 { padding-top: 54px; min-height: 410px; }
.n-block__10 .b-block__title{ padding-left: 19px; }
.n-block__10 .b-slider{ margin: 46px 0px 0px; padding: 0px 40px; box-sizing: border-box; max-height: 300px; }
.n-block__10 .b-slide__item { padding: 0px 50px;line-height: 1.5; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.n-block__10 .b-slide__img_wrapp { width: 126px; height: 126px; overflow: hidden; border-radius: 100% }
.n-block__10 .b-slide__img_wrapp img{ width: 100% !important;height: auto!important;backface-visibility: visible!important;-webkit-backface-visibility: visible!important; max-width: 100% !important; position: relative !important; left: auto !important; top: auto!important; }
.n-block__10 .b-slide__review { margin: 26px 195px 0px; }
.n-block__10 .b-slide__text{ font-family: helveticaneuecyrlight; font-size: 20px; color: #464646; text-align: center; }
.n-block__10 .b-slide__subtext{ font-family: heliosbold; font-size: 14px;margin: 41px 0px 0px 156px; display: block; }
.n-block__10 .slides-navigation a{ position: absolute; text-indent: -1000em;z-index: 10; top: 12px; display: block; width: 20px; height: 36px; background: url(../img/slide-nav.png) 0 0 no-repeat; }
.n-block__10 .slides-navigation a.next{ right: 9px; background-position: top right; }
.n-block__10 .slides-navigation a.prev{ left: 14px; background-position: top left; }


/* n-block__11 */
.n-block__11 {
padding-top: 80px;
min-height: 540px;
}
.n-block__11 .b-block__title{ padding-left: 15px; }
.n-block__11 .b-infoblock{ margin: 71px 0px 0px 9px; }
.n-block__11 .b-infoblock__img { width: 110px; }
.n-block__11 .b-infoblock__text { width: 320px; vertical-align: middle; height: 95px; }
.n-block__11 .b-reg__block { margin-top: 25px; }
.n-block__11 .b-color__circle { margin-top: 16px; }


/*
* Footer
*/
.b-footer {
    min-height: 430px;
    background: #4a4a4a;
    position: relative;
}
.b-footer-menu {
    float: left;
    margin-top: 50px;
    margin-left: 11px;
    min-height: 221px;
    font-size: 14px;
}
.b-footer ul, .b-footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.b-footer-menu > ul > li {
    display: inline-block;
    margin-right: 27px;
    width: 128px;
    vertical-align: top;
}
.b-footer-menu .title {
    color: #fff;
    font-size: 14px;
    font-family: 'heliosbold';
    margin-bottom: 23px;
    display: inline-block;
}
.b-footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'helioslightregular';
    color: #fff !important;
    line-height: 18px;
}
.b-footer-menu li li {
    display: block;
    margin-bottom: 12px;
}
.b-footer-menu > ul > li:last-child {
    width: 200px;
}
.b-footer-bottom {
    background: #393939;
    min-height: 136px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.m-button__contact{
    margin: 52px 10px 0px 0px;
    display: block;
    font-size: 18px;
    padding: 9px 35px;
}
.b-copyright {
    color: #a4a4a4!important;
    font-size: 16px;
    font-family: 'helioslightregular';
    width: 162px;
    float: left;
    margin-top: 36px;
    margin-left: 7px;
    text-decoration: none;
}
a.b-development {
    text-decoration: none;
    color: #a4a4a4!important;
    padding: 7px 55px 5px 0px;
    font-size: 16px;
    font-family: 'helioslightregular';
    float: right;
    background: url(../img/logo-aic.png) 147px 0px no-repeat;
    margin-top: 29px;
}
a.b-development:hover {
    background-position: 147px -42px;
    color: #4594d1!important;
}
/**************************************/
